button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    border: none;
    border-radius: 3px;
    background: #1a4179;
    color: #fff;
    font-size: 2rem;
    line-height: 1;
    padding: 1rem;
    transition: background 0.2s;
    &:hover {
        background: darken(#1a4179, 5%);
    }
    &:active,
    &:focus {
        border-color: $color__border-button-focus;
    }
}