.main-navigation {
    &::before {
        display: block;
        background: linear-gradient(0deg, transparent 0, #020202 75%);
        content: "";
        position: absolute;
        top: 0;
        bottom: -1.25em;
        left: 0;
        right: 0;
        opacity: 0.75;
    }
    position: fixed;
    top: 2.1333333333em;
    bottom: auto;
    width: 100%;
    line-height: 1.8;
    font-size: 2rem;
    font-weight: 400;
    text-align: center;
    padding-bottom: 0;
    transition: box-shadow 0.3s ease;
    background-color: transparent;
    z-index: 110;
    ul {
        display: none;
        list-style: none;
        margin: 0;
        padding-left: 0;
        li {
            a {
                color: #fff;
            }
        }
        ul {
            box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
            float: left;
            position: absolute;
            top: 100%;
            left: -999em;
            z-index: 99999;
            ul {
                left: -999em;
                top: 0;
            }
            li {
                &:hover>ul,
                &.focus>ul {
                    left: 100%;
                }
            }
            a {
                width: 200px;
            }
            :hover>a,
            .focus>a {}
            a:hover,
            a.focus {}
        }
        li:hover>ul,
        li.focus>ul {
            left: auto;
        }
    }
    li {
        margin-right: 20px;
        position: relative;
        padding: 0.9rem 0.7rem 0;
        a:hover {
            border-bottom: 0.3rem solid #fff;
            transition: all 0.15s ease-in;
            visibility: visible;
        }
        &:hover>a,
        &.focus>a {}
    }
    a {
        display: block;
        text-decoration: none;
    }
    .current_page_item>a,
    .current-menu-item>a,
    .current_page_ancestor>a,
    .current-menu-ancestor>a {}
    .category-undergraduate & {
        display: none;
    }
}

.extra-nav {
    font-size: 1.6rem;
    margin-right: 0;
    a {
        color: #fff;
        display: inline-block;
        padding: 0.9em 0.75em;
    }
    ul {
        display: none;
        list-style: none;
        margin: 0;
        padding: 0;
        li {
            // padding-top: 11px;
            a:hover {
                background: darken($brand-background, 20%);
            }
        }
        >a {
            height: 2.6666666667em;
            line-height: 1.6;
        }
    }
}

.sticky,
.lower {
    display: none !important;
}

/* Small menu. */

.menu-toggle,
.main-navigation.toggled ul {
    display: block;
    z-index: 9;
}

.lower button#search-toggle {
    display: none;
}

@media screen and (min-width: 769px) {
    .menu-toggle {
        display: none;
    }
    .main-navigation {
        ul {
            display: flex;
            justify-content: center; // padding-top: 13px;
        }
        & .logo {
            display: none;
        }
    }
    .extra-nav ul {
        display: flex;
    }
    .sticky {
        display: flex !important;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background-color: var(--brand-color);
        box-shadow: 0 2px 2px #000;
        z-index: 9999;
        ul {
            li {
                text-align: right;
                padding-top: 1.26rem;
                a {
                    color: #fff;
                }
            }
        }
        &::before {
            background: none;
            content: "";
            opacity: 0;
            position: unset;
            text-align: right;
            visibility: hidden;
        }
        & .menu-main-container {
            display: flex;
            justify-content: flex-end;
            margin-top: 0 !important;
            .menu {
                padding-top: 0;
            }
        }
        .logo {
            display: block !important;
        }
        .logged-in & {
            margin-top: 32px !important;
        }
        & #search-toggle {
            display: block !important;
        }
    }
}

.comment-navigation,
.posts-navigation,
.post-navigation {
    .site-main & {
        margin: 0 0 1.5em;
        overflow: hidden;
    }
    .nav-previous {
        float: left;
        width: 40%;
    }
    .nav-next {
        float: right;
        text-align: right;
        width: 40%;
    }
}

.menu-main-container {
    .logged-in & {
        margin-top: 2.5rem;
    }
}

.menu-undergrad-menu-container {
    @media screen and (min-width: 900px) {
        position: fixed;
    }
    @media screen and (max-width: 768px) {
        position: relative;
    }
}

.mobile {
    &__nav {
        background: var(--secondary-color); // opacity: 0;
        padding-top: 30px;
        position: absolute;
        right: 0;
        text-align: left;
        top: 0; // transition: all 0.9s ease; //
        display: none;
        width: 100%;
        z-index: 9;
        ul {
            list-style: none;
            padding: 0;
            li {
                margin: 20px;
            }
        }
        a {
            color: #fff;
        }
    }
    &__nav-icon {
        display: flex;
        margin-right: 22px;
    }
}

.nav-icon {
    position: relative;
    &,
    &::before,
    &::after {
        background: #fff;
        width: 3rem;
        height: 2px;
        display: inline-block;
        position: absolute;
        z-index: 100;
    }
    &::before,
    &::after {
        content: "";
        position: absolute;
        left: 0;
        transition: all 0.2s;
    }
    &::before {
        top: -0.8rem;
    }
    &::after {
        top: 0.8rem;
    }
    &::before {
        top: -1rem;
    }
    &::after {
        top: 1rem;
    }
}