.main-navigation {
    &::before {
        display: block;
        background: linear-gradient(0deg, transparent 0, #020202 75%);
        content: "";
        position: absolute;
        top: 0;
        bottom: -1.25em;
        left: 0;
        right: 0;
        opacity: .75;
    }
    position: fixed;
    top: 2.1333333333em;
    bottom: auto;
    width: 100%;
    line-height: 1.8;
    font-size: 2rem;
    font-weight: 400;
    text-align: center;
    padding-bottom: 0;
    transition: box-shadow .3s ease;
    background-color: transparent;
    z-index: 110;
    ul {
        display: none;
        list-style: none;
        margin: 0;
        padding-left: 0;
        li {
            a {
                color: #fff;
            }
        }
        ul {
            box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
            float: left;
            position: absolute;
            top: 100%;
            left: -999em;
            z-index: 99999;
            ul {
                left: -999em;
                top: 0;
            }
            li {
                &:hover>ul,
                &.focus>ul {
                    left: 100%;
                }
            }
            a {
                width: 200px;
            }
            :hover>a,
            .focus>a {}
            a:hover,
            a.focus {}
        }
        li:hover>ul,
        li.focus>ul {
            left: auto;
        }
    }
    li {
        margin-right: 20px;
        position: relative;
        &:hover>a,
        &.focus>a {}
    }
    a {
        display: block;
        text-decoration: none;
    }
    .current_page_item>a,
    .current-menu-item>a,
    .current_page_ancestor>a,
    .current-menu-ancestor>a {}
}

.extra-nav {
    font-size: 1.6rem;
    margin-right: 0;
    a {
        color: #fff;
        display: inline-block;
        padding: .9em .75em;
    }
    ul {
        display: none;
        list-style: none;
        margin: 0;
        padding: 0;
        li {
            // padding-top: 11px;
            :hover {
                background: darken($brand-background, 20%);
            }
        }
        >a {
            height: 2.6666666667em;
            line-height: 1.6;
        }
    }
}

/* Small menu. */

.menu-toggle,
.main-navigation.toggled ul {
    display: block;
}

@media screen and (min-width: 37.5em) {
    .menu-toggle {
        display: none;
    }
    .main-navigation ul {
        display: flex;
        justify-content: center;
        padding-top: 13px;
    }
    .extra-nav ul {
        display: flex;
    }
}

.comment-navigation,
.posts-navigation,
.post-navigation {
    .site-main & {
        margin: 0 0 1.5em;
        overflow: hidden;
    }
    .nav-previous {
        float: left;
        width: 50%;
    }
    .nav-next {
        float: right;
        text-align: right;
        width: 50%;
    }
}