html:root {
    --brand-color: #1a4179;
    --primary-color: #1a4179;
    --secondary-color: #00772c;
    --brand-background: #0a479f;
    --button-hover: #2b71d6;
    --theme-news: #f9f6ef;
    --theme-events: #2f2424;
    --theme-default: #fff;
    --global-font: 62.5%;
    --body-font: --global-font;
    --small-heading-size: 1.3rem;
}

html {
    font-size: var(--global-font);
}

* {
    box-sizing: inherit;
}

body {
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
    font-size: 1.8rem;
    line-height: 1.5;
    margin: 0;
    min-height: 100vh;
    overflow-x: hidden;
}

hr {
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    border-left: 0;
    margin: 1.25rem 0;
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}

header {
    position: relative;
    z-index: 80;
}

figure,
img,
picture {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: none;
    margin: 0;
}

img {
    object-fit: cover;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(4rem, auto);
}

.brand-strip {
    background: var(--brand-color);
    box-shadow: 0 0 10px rgba(0, 0, 0, .15), 0 .3rem .3rem rgba(0, 0, 0, .15);
    display: flex;
    position: fixed;
    width: 100%;
}

.site-branding {
    margin-left: 3rem;
    margin-right: auto;
    margin-top: .7rem;
    padding-bottom: .2rem;
}

.brand-strip,
.logo,
.menu-toggle,
#search-toggle {
    z-index: 9999;
}

.logo {
    background: transparent url("img/uni-logo.png") no-repeat left;
    color: transparent;
    display: block;
    flex: 1 0 auto;
    font-size: 0/0 a;
    font-weight: 700;
    min-height: 1.1rem;
    margin: .2rem 0 0 2rem;
    padding: .5rem;
    text-decoration: none;
    text-shadow: none;
    width: 16.2rem;
}

#search-toggle:before {
    content: '\1F50D';
}

.menu-toggle:before {
    content: '\2630 ';
}

#search-toggle,
.menu-toggle {
    background: none;
    border: none;
    color: #fff;
    font-family: Roboto, sans-serif;
    font-size: 1.6rem;
    font-weight: 700;
    padding: 1.5rem;
}

#search-toggle:hover,
.menu-toggle:hover {
    background: darken($brand-background, 20%);
    padding: 1.5rem;
}

.brand__splash {
    position: relative;
    margin-top: 2em;
    overflow: hidden;
    width: 100%;
    height: calc(100vh - 2em);
    transition: height .1s ease;
    background: rgb(128, 0, 85);
}

.brand__panel {
    color: #fff;
    width: 100%;
    height: 59.5rem;
    position: relative;
    transition: height .1s ease;
}

.brand__name {
    transition: font-size .5s ease;
    width: auto;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    margin-left: 0;
    height: auto;
    position: absolute;
    display: block;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    padding: 0;
    z-index: 50;
    margin: auto;
    font-size: 5rem;
    font-weight: 700;
    transition: font-size 1s ease;
    text-shadow: 0 0 .3rem rgba(0, 0, 0, .7);
}

.splash__scroller {
    bottom: .25em;
    color: #fff;
    width: 100%;
    text-align: center;
    font-size: 3rem;
    letter-spacing: 3;
    line-height: 1.4;
    margin: 0;
    padding: 3em 0 0;
    margin-left: 0;
    height: auto;
    position: absolute;
    display: block;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    padding: 0;
    z-index: 50;
    font-weight: 600;
    a {
        color: #fff;
        letter-spacing: 3;
        &:hover {
            color: #fff;
        }
    }
}

.scroll__down:after {
    color: #fff;
    content: "\25bc";
    display: block;
    text-align: center;
}

.splash__img {
    margin-left: 0;
    display: block;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    padding: 0;
    position: absolute;
    margin: auto;
    min-width: calc(100% + .1rem);
    min-height: calc(100% + .1rem);
    overflow: hidden;
    width: auto;
    height: auto;
    top: 0;
    left: 0;
    transform: none;
    max-width: none;
    max-height: none;
}

/* Hide visually */

.sr-only-element {
    border: 0;
    clip: rect(.1rem, .1rem, .1rem, .1rem);
    -webkit-clip-path: inset(100%);
    clip-path: inset(100%);
    height: .1rem;
    position: absolute;
    width: .1rem;
    overflow: hidden;
    white-space: nowrap;
    padding: 0;
}

main.main {
    margin-top: -4rem;
    position: relative;
    z-index: 1;
}

body.main {
    position: fixed;
}

.news,
.health,
.facts {
    font-size: var(--body-font);
    background: var(--theme-news);
    padding-top: 1.6rem;
}

.card {
    background: #fff;
}

.collection__header,
.collection__kicker {
    text-align: center;
    color: #000;
}

.collection__header {
    font-size: 4rem;
}

.collection__kicker {
    font-size: 2.5rem;
}

.content {
    display: flex;
    flex-direction: column;
    font-size: 1.8rem;
}

.post-category {
    color: var(--secondary-color);
    font-size: 1.2rem;
    font-weight: 500;
    text-transform: uppercase;
}

.article__content h3 {
    font-size: 2rem;
}

.article__content h3 a {
    color: #000;
    text-decoration: none;
}

.article__content h3 a:hover {
    color: var(--secondary-color);
}

.cta,
.more_events {
    background: var(--primary-color);
    border-radius: 5px;
    color: #fff;
    display: block;
    font-size: 2rem;
    font-weight: 700;
    margin: 10px auto;
    padding: .9em;
    text-align: center;
    transition: background-color .5s ease;
}

.date {
    color: #fff;
}

.more_events {
    font-size: 2rem;
}

.cta a,
.more_events a,
.content .cta a {
    color: #fff;
    text-decoration: none;
}

.cta:hover,
.more_events:hover {
    background: var(--button-hover);
}

/* Card */

.card {
    border: .1rem solid #eee;
    border-radius: .5rem;
    box-shadow: 0 .3rem .8rem 0 #ccc;
    margin: 1rem 2rem;
    padding: 1rem;
    width: calc(100% - 4rem);
}

.newsletter {
    background: #fff;
    color: #000;
    padding: 2.5rem 2rem;
    text-align: center;
    &__heading {
        font-size: 4rem;
    }
}

.input-wrapper {
    box-sizing: border-box;
    cursor: text;
    display: block;
    float: left;
    font-style: italic;
    position: relative;
    width: 100%;
    background-color: transparent;
    overflow: visible;
    margin-bottom: 2rem;
}

.newsletter form [type=email] {
    background-color: transparent;
    display: block;
    font-size: 1.6rem;
    padding: .6666666667em 3.8888888889em .6666666667em 3em;
    width: 100%;
    margin: 0;
    border: .1rem solid #999;
    border-radius: 0;
    box-shadow: inset 0 1px 3px hsla(0, 0%, 7%, .06);
    box-sizing: border-box;
    transition: border-color .25s ease-in-out;
    width: 100%;
}

.newsletter form [type=submit] {
    background-color: var(--brand-color);
    border: none;
    color: #fff;
    cursor: pointer;
    display: block;
    font-family: Source Sans Pro, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-weight: 600;
    line-height: 1.5;
    padding: .3333333333em 1em .4444444444em;
    text-align: center;
    text-decoration: none;
    transition: background-color .5s ease;
    user-select: none;
    width: 100%;
    font-size: 2rem;
    margin-bottom: 0
}

.collection {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
}

.newsletter form [type=submit]:hover {
    background: var(--button-hover);
}

.events {
    background: var(--theme-events);
}

.event__heading-container,
.academic__heading-container,
.schools__heading-container,
.facts__heading-container,
.campus__heading-container,
.admission__heading-container,
.uniabj__header-container,
.explore__heading-container {
    text-align: center;
    padding: 2rem;
}

.event__heading-container p,
.academic__heading-container p,
.facts__heading-container p,
.admission__heading-container p,
.uniabj__header-container p {
    font-size: 2.5rem;
}

.event__items,
.academic__items,
.schools__items,
.quote__item,
.research__items,
.facts__items,
.health__items,
.campus__items,
.admission__items,
.uniabj__items,
.colophone {
    padding-left: 2rem;
    padding-right: 2rem;
}

.event__heading,
.academic__heading,
.schools__heading,
.research__heading,
.facts__heading,
.campus__heading,
.admission__heading,
.learning__header,
.uniabj__heading,
.health__heading,
.explore__heading {
    font-size: 4rem;
    margin-bottom: 0;
    margin-top: 0;
}

.facts__heading {
    font-size: 1.5rem;
}

.learning__header {
    font-size: 2.5rem;
}

.explore__heading,
.events p {
    color: var(--theme-default);
}

.event__items figure {
    display: flex;
    margin-bottom: 2rem;
}

.event__heading {
    color: var(--theme-default);
}

.img-wrapper {
    display: none;
}

.date {
    align-items: center;
    background: #544948;
    box-shadow: 0 0 1rem rgba(0, 0, 0, .15), 0 .3rem .3rem rgba(0, 0, 0, .15);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 1.8rem;
    width: 20%;
}

.month,
.day {
    display: block;
}

.month {
    font-size: 1.8rem;
}

.day {
    font-size: 2.8rem;
    font-weight: 700;
}

.event__content {
    background: #fff;
    padding: 1.6rem;
    width: 80%;
}

.event__content {
    .tag {
        color: var(--secondary-color);
        font-weight: 700;
        font-size: 1.8rem;
        text-transform: capitalize;
    }
    h3 {
        font-size: 2rem;
    }
    a {
        color: #000;
        text-decoration: none;
        &:hover {
            color: var(--secondary-color);
        }
    }
    time {
        color: #000;
        font-size: 1.8rem;
    }
}

.academic,
.theme-research {
    background: var(--theme-default);
    color: #000;
    font-size: 1.8rem;
}

.theme-academic .jump-link,
.health__info .jump-link,
.campus-link a,
.info-link a {
    color: var(--brand-color);
    font-weight: 700;
    text-decoration: none;
}

.theme-academic a.jump-link:hover,
.campus-link a.jump-link:hover,
.health__info a.jump-link:hover {
    color: var(--button-hover);
}

ul.courses,
ul.links-inline {
    list-style: none;
    text-align: center;
    font-size: 2rem;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    padding-left: 0;
}

ul.courses li,
ul.links-inline li {
    display: block;
    margin-bottom: .512em;
}

ul.courses li:first-of-type,
ul.links-inline li:first-of-type {
    margin-top: 1.25em;
}

ul.courses li:first-of-type:before,
ul.links-inline li:first-of-type:before {
    display: none;
}

ul.courses li a,
ul.links-inline li a {
    color: var(--brand-color);
    padding-bottom: .8rem;
    text-decoration: none;
}

ul.links-inline li a {
    color: var(--theme-default);
}

ul.courses li a:hover {
    color: var(--button-hover);
    border-bottom: solid var(--brand-color) .3rem;
    transform: scaleX(0);
    transition: all .15s ease-out;
    visibility: visible;
}

ul.links-inline li a:hover {
    border-bottom: solid #fff .3rem;
    color: #fff;
    transform: scaleX(0);
    transition: all .15s ease-out;
    visibility: visible;
}

ul.courses li:before,
ul.links-inline:before {
    content: "";
    display: block;
    margin: .8em auto;
    width: 40%;
    border-top: .1rem solid hsla(0, 0%, 80%, .5);
}

ul.courses li a:after,
ul.links-inline li a:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: #00548f;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    transition: all .15s ease-in;
    z-index: 1;
}

picture {
    display: block;
    overflow: hidden;
}

picture img {
    display: block;
    background-color: #620f0f;
    background-image: linear-gradient(#771212, #620f0f);
}

.quote {
    color: #000;
    position: relative;
    text-align: center;
    background-color: #544948;
    color: #fff;
}

.quote p {
    font-weight: 400;
    font-size: 2.5rem;
    line-height: 1.35;
    margin-bottom: .8em;
    transition: font-size .3s ease-out;
}

.quote__item {
    font-size: 1.8rem;
    position: relative;
    z-index: 1;
    text-align: center;
    padding-top: 3.8146972656em;
    padding-bottom: 5.9604644775em;
    transition: all .3s ease-out;
    opacity: 1;
    text-shadow: 0 0 .6rem #000;
}

.attribution p {
    font-size: 1.6rem;
    font-style: italic;
}

.bg-img {
    position: absolute;
    margin: auto;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    min-width: calc(100% + .1rem);
    min-height: calc(100% + .1rem);
    overflow: hidden;
    width: auto;
    height: auto;
    top: 0;
    left: 0;
    -webkit-transform: none;
    transform: none;
    max-width: none;
    max-height: none;
    transition: all .3s ease-out;
    opacity: .5;
    /* filter: blur(15px); */
    opacity: 1;
}

.quote__item .jump-link {
    font-weight: 700;
    margin-top: 1rem;
}

.quote__item .jump-link a {
    color: #fff;
    text-decoration: none;
}

.quote__item .jump-link a:hover {
    text-decoration: underline;
}

.research__items figure {
    width: calc(100% - 4rem);
    float: left;
    margin-bottom: 2rem;
    font-size: 1.25em;
    text-align: center;
    font-weight: 400;
}

.research__items figure:after {
    clear: both;
    content: "";
    display: block;
}

.research figure strong {
    display: block;
    font-weight: 900;
    font-size: 1.25em;
    line-height: 1.25em;
}

figure img {
    min-height: 5em;
    max-width: 100%;
    width: 100%;
}

figure figcaption h3 {
    display: inline;
    text-transform: uppercase;
    font-size: inherit;
    font-weight: 600;
    line-height: inherit;
    margin-right: .4096em;
}

figure figcaption p:first-of-type {
    display: inline;
}

figcaption {
    font-size: .8888888889em;
}

.health__info h3 {
    font-size: var(--small-heading-size);
}

.health__info p {
    font-size: 1.05rem;
}

.admission {
    background: var(--theme-news);
}

.learning {
    margin-top: 2rem;
}

.learning__info {
    margin-bottom: 1rem;
}

.learning__info p {
    margin-top: 1.5rem;
}

.explore {
    color: var(--theme-default);
    padding-bottom: 7.4505805969rem;
    padding-top: 14.5519152284rem;
    position: relative;
}

.copyright {
    text-align: center;
}

@media only screen and (min-width: 1024px) {
    .news header h2 {
        font-size: 4rem;
        margin-top: 0;
        margin-bottom: 0;
        padding-top: 3rem;
    }
    .news .content {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        /* grid-template-rows: 2fr repeat(2, 1fr); */
    }
    .news .content article:first-of-type {
        grid-column: 1/5;
    }
    .news .content .cta {
        grid-column: 2/4;
        grid-row: 3;
        min-width: 50%;
        text-align: center;
    }
    .newsletter form {
        display: flex;
        margin: 0 auto;
        width: 60%;
        justify-content: center;
    }
    .newsletter form .input-wrapper {
        margin-bottom: 0;
        width: 60%;
    }
    .newsletter form input[type=submit] {
        padding: 0;
        width: 20%;
    }
    .events .content,
    .academic .content {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-column-gap: 3rem;
    }
    .academic .content {
        grid-template-columns: repeat(3, 1fr);
    }
    .academic .content h3 {
        font-size: 2rem;
    }
    .academic .content p {
        font-size: 1.8rem;
    }
    .event__heading,
    .academic__heading,
    .research__heading,
    .facts__heading,
    .health__heading,
    .campus__heading,
    .admission__heading,
    .uniabj__heading {
        font-size: 4rem;
    }
    .health__heading-container {
        margin-bottom: 4.5rem;
    }
    .event__heading-container p,
    .academic__heading-container p,
    .research__heading-container p,
    .health__heading-container p,
    .campus__heading-container p,
    .admission__heading-container p,
    .uniabj__heading-container p {
        font-size: 2.5rem;
        margin: .5rem auto;
        width: 70%;
    }
    .event__items {
        padding-top: 3rem;
        padding-bottom: 8rem;
    }
    .event__items figure {
        display: grid;
        grid-template-columns: 1fr;
        position: relative;
    }
    .img-wrapper {
        display: block;
    }
    .img-wrapper img {
        height: 100%;
    }
    .events .img-wrapper {
        grid-column: 1/2;
        grid-row: 1/2;
    }
    .event .date {
        grid-column: 1;
        grid-row: 2/3;
        z-index: 11;
    }
    .event__content {
        grid-column: 1/2;
        grid-row: 2/4;
        padding: 24px;
        width: auto;
        z-index: 1;
    }
    .event__content .tag {
        margin-top: 5.4rem;
    }
    .date {
        font-weight: 300;
        left: 2.4rem;
        padding: .5rem;
        position: absolute;
        top: 38%;
        z-index: 10;
    }
    .more_events {
        grid-column: 2/4;
    }
    .schools__items {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr auto;
    }
    .schools__items .courses {
        display: flex;
        justify-content: space-evenly;
        width: 70%;
        margin: 0 auto 2rem auto;
    }
    ul.courses li {
        border-top: 0;
        position: relative;
        display: inline-block;
        padding: 0 .5555555556em;
        border-top: 0 solid #fff;
    }
    ul.courses li a:after {
        position: absolute;
        content: "";
        height: 75%;
        right: -.1111111111em;
        top: 50%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        border-right: .2rem solid #000;
        border-top: 0 solid #fff;
    }
    ul.courses li::before {
        border-top: none;
    }
    ul.links-inline li:first-of-type,
    ul.courses li:first-of-type {
        margin-top: 1rem;
    }
    .quote__item {
        margin: 0 auto;
        width: 60%;
    }
    .schools__heading-container {
        margin-top: 5rem;
    }
    .research-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    .research figure strong {
        font-size: 2.5rem;
    }
    .facts .content {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr auto;
    }
    .facts .content .cta {
        grid-column: 2/4;
        text-align: center;
        width: 60%;
    }
    .health .content,
    .campus .content {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr auto;
        grid-gap: 2rem 2rem;
    }
    .health .cta,
    .campus .cta {
        grid-column: 2;
    }
    .admission-grid {
        display: grid;
        grid-template-columns: repeat(3, auto);
        grid-template-rows: 1fr auto;
        grid-gap: 2rem 3rem;
    }
    .admission-grid section:first-of-type {
        grid-column: 1/4;
    }
    /* .admission-grid .learning:nth-child(2) {
    grid-column: 1/3;
}

.admission-grid .learning:nth-child(3) {
    grid-column: 2/4
} */
    .admission__info img {
        height: 30rem;
    }
    .admission .cta {
        grid-column: 1/3;
        margin-top: 5rem;
    }
    .learning__header {
        font-size: 2.5rem;
    }
    .learning__info p {
        font-size: 1.8rem;
    }
    .explore {
        padding-top: 6rem;
    }
    /* .health__heading {
        margin-bottom: 0;
        margin-top: 0;
    } */
}

.site-content {
    margin: 0 auto;
    max-width: 114rem;
    width: 90%;
}

footer {
    font-size: 1.6rem;
}